:root {
  --fonte-principal: "Roboto";
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  text-align: center;  
  background-color: #f47039;
}

.main {
    
  font-family: var(--fonte-principal), sans-serif;
  margin: 0;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  margin: 20px;
}

p{
    margin-top: 10px;
    font-weight: 600;
}